<form>
  <div class="form-group">
    <label for="fileDescription">File description</label>
    <textarea class="form-control" id="fileDescription" required minlength="4" name="fileDescription"
              [(ngModel)]="fileInfo.description" rows="3" placeholder="File description"
              #fileDescription="ngModel"></textarea>
    <div *ngIf="fileDescription.invalid && (fileDescription.dirty || fileDescription.touched) && fileDescription.errors.required"
         class="alert alert-danger">
      File description is required
    </div>
    </div>
  <div class="form-group">
    <label for="fileControl">Choose file</label>
    <input type="file" class="form-control-file"
           id="fileControl" accept=".PNG,.JPEG"
           required #fileControl>
    <div *ngIf="fileError"
         class="alert alert-danger">
      {{fileError}}
    </div>
  </div>
    <button type="submit" class="btn btn-primary" (click)="uploadImage()">Submit Image</button>
</form>
