<form #fileUploadForm="ngForm"
      id="fileUploadForm" name="fileUploadForm">
  <div class="form-group row">
    <label for="fileDescription" class="col-sm-2 col-form-label col-form-label-lg">File description</label>
    <textarea class="col-sm-6 form-control form-control-lg" id="fileDescription" required minlength="4" name="fileDescription"
              [(ngModel)]="fileInfo.description" rows="3" placeholder="File description"
              #fileDescription="ngModel"></textarea>
    <div class="col-sm-4">
      <div *ngIf="fileDescription.invalid && fileDescription.errors.required"
           class="alert alert-danger">
        File description is required
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="fileControl" class="col-sm-2 col-form-label col-form-label-lg">Choose file</label>
    <input type="file" class="col-sm-6 form-control-file form-control-lg"
           id="fileControl" accept=".PNG,.JPEG"
           required #fileControl>
    <div class="col-sm-4">
      <div *ngIf="fileError"
           class="alert alert-danger">
        {{fileError}}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2 offset-sm-2 btn-wrapper">
      <button type="submit" class="btn btn-primary" [disabled]="fileUploadForm.invalid" (click)="uploadImage()">Submit Image</button>
    </div>
    <div class="col-sm-2">
      <div *ngIf="successUploadMessage" class="alert alert-success">
        {{successUploadMessage}}
      </div>
      <div *ngIf="errorUploadMessage" class="alert alert-danger">
        {{errorUploadMessage}}
      </div>
    </div>
  </div>
</form>
